extends layout

block content
  section.section
    div.container
      h1 Page not found
      p Sorry, the page you are after has wandered off into the bush. Try heading back to the home page.
      a.button.button-primary(href="/") Return home
