extends layout

block content
  section.hero
    div.container
      h1 Small-batch gin with Aotearoa spirit
      p.lead Crafted in Mangaroa, Upper Hutt using local botanicals.
      a.button.button-primary(href="#contact") Book a tasting
  section.section#story
    div.container
      h2 Our story
      p
        | Longstream Botanicals began as a kitchen-bench experiment chasing the perfect evening tipple.
        | Recycled bottles and a small still were used to make the first few bottles though it quickly grew from a hobby to an addiction taking over our family garage.
        | Friends, family and neighbours were the initial guinea pigs for the first few batches and it quickly became a regular request for more bottles as interest grew for the new experimental flavours.
      p
        | Of the many batches made, the Blondie Dry Gin, Louie Limoncello and Seeking Vodka have been perfected and are now available for purchase.
        | Our other experimental batches are still in process of being perfected and will be available when they are ready.
      p
        | Every bottle is still made with absolute care and attention to detail. Each step is taken to ensure the best possible taste and experience.
  section.section.section.highlight#range
    div.container
      h2 Signature range
      p.subtitle Discover our current line-up of homebrew favourites now available for online orders.
      div.card-grid
        article.card
          img.bottle-image(src="/images/bottle.png", alt="Blondie Dry Gin bottle", width="120", height="200")
          h3 Blondie Dry Gin
          p A classic dry gin with a juniper base and our secret blend of local botanicals.
        article.card
          img.bottle-image(src="/images/bottle.png", alt="Louie Limoncello bottle", width="120", height="200")
          h3 Louie Limoncello
          p A simple limoncello made with fresh lemons and a touch of sugar for a refreshing summer drink.
        article.card
          img.bottle-image(src="/images/bottle.png", alt="Seeking Vodka bottle", width="120", height="200")
          h3 Seeking Vodka
          p A smooth vodka distilled with our signature process for a clean, neutral base.
  section.section.cta#contact
    div.container
      h2 Get in touch
      p.subtitle Visit the distillery, supply a large event, or book a private tasting.
      div.contact-card
        p
          strong Email: 
          a(href="mailto:ross@longstream.nz") enquires@longstream.nz
        p
          strong Cellar door:
          |  Mangaroa, Upper Hutt, Wellington Region, New Zealand
